body, html {
  margin:0;
  font:1em "Raleway", sans-serif;
  text-align: center;
}

.content {
  padding:30px;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    margin:0;
    font:1em "Raleway", sans-serif;
    padding:2px;
}
.nav-main{
  width:100%;
  background-color:#222;
  height:70px;
  color:#fff;
  overflow-x: hidden;
}

.nav-main .logo{
  float:left;
  height:40px;
  padding:15px 30px;
  font-size:2.0em;
  line-height:40px;

}
.logo > a {
  text-decoration:none;
  color: white;
}
.nav-main > ul {
  margin:0;
  padding:0;
  float:left;
  list-style-type:none;
}

.nav-main > ul > li {
  float:left;

}
.nav-item {
  display: inline-block;
  padding: 15px 20px;
  height: 70px;
  line-height: 40px;
  color:#fff;
  text-decoration:none;
}

.nav-item:hover {
  background-color:#444;
}
.nav-content {
  position:absolute;
  top:70px;
  overflow:hidden;
  background-color:#222;
  max-height:0;
}
.nav-content a {
  color:#fff;
  text-decoration:none;
}
.nav-content a:hover {
  text-decoration:underline;
}
.nav-sub {
  padding:20px;
}
.nav-sub ul {
  padding:0;
  margin:0;
  list-style-type: none;
}
.nav-sub ul li a {
  display:inline-block;
  padding:5px 0px;
}

.nav-item:focus {
  background-color:#444;
}

.nav-item:focus ~ .nav-content {
  max-height:400px;
  -webkit-transition:max-height 0.5s ease-in;
  -moz-transition:max-height 0.5s ease-in;
  transition:max-height 0.5s ease-in;
}
.nav-content:active {
   max-height:400px;
}

/* σλαιντσοου */
* {box-sizing:border-box}

.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
  z-index: -10;

}
.mySlides {
  display: none;
}

.text {
  color: white;
  font:1em "Raleway", sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background-color: black;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.bordepik{text-align: center; border: 1px solid black; margin: auto; padding: 10px;}
